.search-bar {
	padding-bottom: 15px;
}

.timeSliderWrapper {
	width: 500px;
}

.kills {
	fill: blue;
}

.deaths {
	fill: red;
}

.assists {
	fill: purple;
}

.killLegend {
	text-align: left;
}

.rightAlign {
	text-align: right;
}

.areaFilter-switch {
	width: 120px;
}

.flexContainer {
	display: flex;
}

.flexOneContainer {
	flex: 1;
}

.flexTwoContainer {
	flex: 2;
}

.flexAreaFilterContainer {
	flex: 10;
}

.interactive-area {
	flex: 1;
	padding: 5px;
}

.analysis-area {
	flex: 2;
	padding: 5px;
}

.layout {
	display: flex;
}

.analysis-layout {
	table-layout: fixed;
}

.analysis-cell {
	vertical-align: top;
	width: 1%;
	padding: 15px;
}

.filter-cell {
	padding: 3px;
}

.filter-cell-header {
	text-align: right;
	font-weight: bold;
}

.tenPx {
	width: 10px;
}